@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body,html{
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
  
    -moz-tab-size: 4;
    -o-tab-size: 4;
    text-rendering: optimizeSpeed;
    tab-size: 4;
  
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}


.background-color-one{
  /* background-color:white; */
  background-color: white !important;
}
.background-color-two{
  background-color:black !important;
}
.background-color-three{
  /* background-color:whitesmoke; */
  background-color:gainsboro !important;
}
.background-color-four{
  background-color:yellow !important;
}
.background-color-five, pre{
  /* background-color: black; */
  background-color: white !important;
}
.font-color-one{
  /* color:white; */
  color:white !important;
}
.font-color-two, pre, h1, h2, h3, h4, h5, h6, h7, h8{
  /* color:black; */
  color:black !important;
}
.font-color-three{
  /* color:gainsboro; */
  color:gainsboro !important;
}



  a, a:hover{
    color:darkslategray;
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }
  ul {
    list-style-type: circle;
  }
  li{
    padding:5px;
  }
  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: gainsboro;
    padding: 5px;
   }
   blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    /* quotes: "\201C""\201D""\2018""\2019"; */
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }  



  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

 